<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>CONNEXION</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CONNEXION</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MANAGER</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MANAGER</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>COLLABORATEUR</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.CollaborateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>COLLABORATEUR</servlet-name>
    <url-pattern>/collaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CREATION</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.ManagerCreerCollaborateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CREATION</servlet-name>
    <url-pattern>/creation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LISTECOLLABORATEUR</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.ManagerListeCollaborateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LISTECOLLABORATEUR</servlet-name>
    <url-pattern>/listecollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MODIFINFOMANAGER</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.ManagerModifInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MODIFINFOMANAGER</servlet-name>
    <url-pattern>/modifinfomanager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CREERDEMANDECONGE</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.CollabortateurCreerCongesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CREERDEMANDECONGE</servlet-name>
    <url-pattern>/creerdemandeconge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MODIFINDOCOLLABORATEUR</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.CollaborateurModifInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MODIFINDOCOLLABORATEUR</servlet-name>
    <url-pattern>/modifinfocollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VISUINFOCOLLABORATEUR</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.CollaborateurVisuInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VISUINFOCOLLABORATEUR</servlet-name>
    <url-pattern>/visuinfocollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VISUCONGES</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.ManagerVisuDemandeCongesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VISUCONGES</servlet-name>
    <url-pattern>/visuconges</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VISUHISTORIQUECONGES</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.CollaborateurHistoriqueCongesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VISUHISTORIQUECONGES</servlet-name>
    <url-pattern>/visuhistoriqueconges</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DECONNEXION</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DECONNEXION</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>SOLDECONGES</servlet-name>
    <servlet-class>fr.formation.afpa.servlets.CollaborateurSoldeConges</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SOLDECONGES</servlet-name>
    <url-pattern>/soldeconges</url-pattern>
  </servlet-mapping>
</web-app>